<%- include('../../shared/includes/head', { pageTitle: 'Failure' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Your Order Failed!</h1>
    <p>please contect shop owner</p>
  </main>
<%- include('../../shared/includes/footer') %>