<%- include('../../shared/includes/head', { pageTitle: 'All Your Orders' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Your Order Is Placed</h1>
    <p>Please visit Website for Further information</p>
  </main>
<%- include('../../shared/includes/footer') %>